@model EmployeeFilesApp.ViewModels.LandingViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a asp-controller="Departments" asp-action="Create" type="button">Create New Department</a>

    <span>Department List</span>
    @foreach(var department in Model.DepartmentList)
    {
        @department.DepartmentName
    }

</div>
